# Ignore Maven target directory
target/
!.mvn/wrapper/maven-wrapper.jar

# Ignore logs
*.log
logs/

# Ignore compiled files
*.class

# Ignore IDE-specific files
.idea/
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea/encodings.xml
.idea/misc.xml
*.iml
*.iws
*.ipr

# Ignore Eclipse-specific files
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Ignore NetBeans-specific files
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# Ignore VS Code settings
.vscode/

# Ignore OS files
.DS_Store
Thumbs.db
